@import "../../scss/variable.scss";

#main {
    display: inline-block;
    height: 100vh;
    width: $main-container-width;
    vertical-align: top;
    overflow-y: scroll;
    // box-shadow: -10px 0px 1px #fcfcfc;
    padding-top: 40px;
}