@import "../../../scss/variable.scss";

.sitemeta{

    display: inline-block;
    height: 150px;
    width: 100%;
    padding-top: 40px;
    &__head{
        height: 75px;
        text-align: right;
        line-height: 75px;
        font-family: $font-family;
        font-size: $font-title-size;

    }
    
    &__description{
        height: 75px;
        text-align: right;
        font-family: $font-family;
        font-size: $font-content-size;
    }
    &:hover{
        background-color: $front-container-background;
        .sitemeta__head,.sitemeta__description{
          color:$color-accent;      
        }
    }

}