@import "../../scss/variable.scss";

.sideBar {
  // background-color: red;
  
  // display: flex;
  display: inline-block;
  // flex-direction: column;
  // align-content: space-between;

  // font-size: 20px;
  // text-align: right;
  background-color: $front-container-background;
  width: $side-container-width;
  height: 100vh;
  vertical-align: top;

  border-right: solid 1px;
  background-color: #fcfcfc;

  font-family: $ui-font-list;

  // min-width: 256px;
}
.body {
  background-color: blue;
}