@import "../../scss/variable.scss";

.sideBar {
  background-color: red;
  display: inline-block;
  // font-size: 20px;
  width: $side-container-width;
  height: 100vh;
}
.body {
  background-color: blue;
}